* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #040404;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #EFEDE8;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
}
.www {
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 10;
  margin-bottom: 40px;
  height: 100%;
  width: auto;
  right: 0;
  bottom: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  transform: translateX(-30%);
  text-align: right;
  margin-right: -20px;
}